<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.niit.demosqlite">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".DemoStorage">

        </activity>

        <activity android:name=".notes.ListNoteActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>

        <activity android:name=".notes.AddNoteActivity">


        </activity>

<!--          <receiver android:enabled="true" android:name=".demoreceiver.MyBroadCastReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.AIRPLANE_MODE"></action>-->
<!--                <action android:name="TEST"></action>-->
<!--                <action android:name="SERVICE"></action>-->
<!--            </intent-filter>-->
<!--        </receiver>-->


        <service android:name=".demoreceiver.MyService"></service>
    </application>
</manifest>
